<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RDFui demo</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/angular-rdf-ui.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
  <link rel="stylesheet" href="css/demo.css">
  
</head>
<body ng-app="demoApp">

    
  
  <div class="container">

    <div class="jumbotron">
      <h1>RdfUi component</h1>
      <p class="lead">Make rdf easy for user.</p>
      <p><a class="btn btn-lg btn-success" href="https://github.com/JimLiu/angular-ui-tree" role="button">Code on GitHub</a></p>
    </div>
    
    <div class="row">
      <div class="col-md-4">
        <h2>Examples</h2>
        <ol>
<!--           <li><a href="tree.html">Unlimited nesting</a></li> -->
<!--           <li><a href="tree-horizontal.html">Above with horizontal sorting</a></li> -->
<!--           <li><a href="trees.html">Connected trees</a></li> -->
          <li><a href="skosxl.html">Display for skos XL</a></li>
          <li><a href="narrower2.html">Specific demo on narrower display</a></li>
          <li><a href="referenceSearch.html">Searching for object references implementation</a></li>
          <li><a href="referenceSearchOnline.html">Demo with online data</a></li>
          <li><a href="graphList.html">Demo for graphList related functions</a></li>
<!--           <li><a href="filter.html">Filter</a></li> -->
        </ol>
      </div>
    </div>

    <div class="row">
        <rdfui-graph graph-uri="http://test.com/oneLangGraph">
         
            <div id="treeView" class="col-md-5">
                    <h3>Tree view
                      <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">Collapse all</a>
                      <a href="" class="btn btn-default pull-right" ng-click="expandAll()">Expand all</a>
                    </h3>
                    
                    <div ui-tree id="tree-root">
                        <ol ui-tree-nodes="" ng-model="graphTree">
                            <li ng-repeat="node in graphTree" ui-tree-node ng-include="'./tpl/nodes_renderer.html'"></li>
                        </ol>
                    </div>
            </div>
            
            
            <div id="contentView" class="col-md-5">
                    <rdfui-mainlang></rdfui-mainlang>
                    <rdfui-langdisplayed></rdfui-langdisplayed>
                    <div>
                    	<button class="btn btn-scent" ng-click="switchEdit()" >Edit</button>
                    </div>
                    <p>{{currentNode['@id']}}</p>
        			
	        			<rdfui-subject entity="currentNode">
	        				
<!-- 	        				<rdfui-property subject="entity" -->
<!-- 					                        property-name="prefLabel" -->
<!-- 					                        property-label="prefLabels" -->
<!-- 					                        langs="graphCtrl.lang.available" -->
<!-- 					                        selectedLang="graphCtrl.lang.main" -->
<!-- 					                        ></rdfui-property> -->
	        				
<!-- 		        			 <rdfui-property subject="entity" -->
<!-- 					                        property-name="altLabel" -->
<!-- 					                        property-label="altLabels" -->
<!-- 					                        langs="graphCtrl.lang.available" -->
<!-- 					                        selectedLang="graphCtrl.lang.main" -->
<!-- 					                        ></rdfui-property> -->
                    
<!-- 		                    <rdfui-property subject="entity" -->
<!-- 		                        property-name="hiddenLabel" -->
<!-- 		                        property-label="hidden Labels" -->
<!-- 		                        langs="graphCtrl.lang.available" -->
<!-- 		                        selectedLang="graphCtrl.lang.main" -->
<!-- 		                        ></rdfui-property> -->
		                    
<!-- 		                    <rdfui-property subject="entity" -->
<!-- 		                        property-name="scopeNote" -->
<!-- 		                        property-label="Scope Note" -->
<!-- 		                        langs="graphCtrl.lang.available" -->
<!-- 		                        selectedLang="graphCtrl.lang.main" -->
<!-- 		                        ></rdfui-property>     -->
		                    
		                    
<!-- 		                    <rdfui-property subject="entity" -->
<!-- 		                        property-name="broader" -->
<!-- 		                        property-label="broader" -->
<!-- 		                        langs="graphCtrl.lang.available" -->
<!-- 		                        selectedLang="graphCtrl.lang.main" -->
<!-- 		                        ></rdfui-property> -->
		                        
<!-- 		                     <rdfui-property subject="entity" -->
<!-- 						            property-name="narrower" -->
<!-- 						            property-label="narrower" -->
<!-- 						            langs="graphCtrl.lang.available" -->
<!-- 						            selectedLang="graphCtrl.lang.main" -->
<!-- 						            ></rdfui-property> -->
		            
<!-- 	               			<p>==============</p> -->
<!-- 	               			<h1>test pour l'utilisation du properties</h1> -->
<!-- 	               			<p>==============</p> -->
	               			<rdfui-properties entity="entity" filtername="fullDisplay">
   				<div ng-repeat="prop in $properties">
   					<rdfui-property ng-model="entity" 
                                    subject="entity"
                                    property-name="{{prop.short}}"
                                    property-label="{{prop.human}}"
                                    langs="graphCtrl.lang.available"
                                    selectedLang="graphCtrl.lang.main"
                                    template-name="blank"
                                    >
                    	<rdfui-objects ng-model="objects"
                                       objects="objects"
                                       template-name="blank">
                        	<div>
                        		<h2>{{propertyCtrl.propertyLabel}} :
                        			<div ng-if="hasType.resource" class="btn-group">
								        <label class="btn btn-primary" ng-model="$displayType.value" btn-radio="'simpleUri'">URI</label>
								        <label class="btn btn-primary" ng-model="$displayType.value" btn-radio="'light'">Label</label>
								        <label class="btn btn-primary" ng-model="$displayType.value" btn-radio="'full'">Full</label>
								    </div>
                        		</h2>
                        		
                        		
                       			<rdfui-object ng-repeat="obj in objects"
	                                            object="obj"
	                                            template-name="full"
	                                            maxdfdlevel="2"
	                                            >
	                                            
                                 	<div ng-if="objectsCtrl.hasType.resource">
                                 		<div ng-if="!graphCtrl.isEdit" class="bg-warning col-md-offset-1">
<!-- 	                                 		<p> case 0 : switching display - {{objectsCtrl.$displayType}}</p> -->
	                                 		<rdfui-resource-view ng-if="objectsCtrl.$displayType.value == 'simpleUri'" uri="{{object}}" template-name="simpleUri"></rdfui-resource-view>
	                                 		<rdfui-resource-view ng-if="objectsCtrl.$displayType.value == 'light'" uri="{{object}}" template-name="light"></rdfui-resource-view>
	                                 		<rdfui-resource-view ng-if="objectsCtrl.$displayType.value == 'full'" uri="{{object}}" template-name="full"></rdfui-resource-view>
	                                 		
	                                 		<!-- TODO : put all the logic for defining the template name in the objectCtrl -->
	                                 		<!-- pour les uri non deréférencables -->
<!-- 	                                 		<p> case 1 </p> -->
<!-- 	                                 		<rdfui-resource-view uri="{{object}}" template-name="simpleUri"></rdfui-resource-view> -->
<!-- 	                                 		<p> case 2 </p> -->
<!-- 	                                 		<rdfui-resource-view uri="{{object}}" template-name="light"></rdfui-resource-view> -->
<!-- 	                                 		<p> case 3 </p> -->
<!-- 	                                 		<rdfui-resource-view uri="{{object}}" template-name="full"></rdfui-resource-view> -->
	                                 	</div>
	                                 	<div ng-if="graphCtrl.isEdit">
	                                 		//TODO : reprendre ce qui avait été fait dans le rdfuiProperty default template et directive
	                                 	</div>
                                 	</div>
                                  	<div ng-if="objectsCtrl.hasType.literal">
										<div ng-if="objectsCtrl.hasType.literalType.plain">
											<div ng-if="!graphCtrl.isEdit">
    										{{object['@value']}} <button class="btn btn-scent" >{{object['@language']}}</button>
    										</div>
    										<rdfui-literal-edit ng-if="graphCtrl.isEdit"
											     property="propertyCtrl.propertyName"
											     ng-model="object" 
											     langs="graphCtrl.lang.available" 
											></rdfui-literal-edit>
										</div>
										<div ng-if="objectsCtrl.hasType.literalType.typed">
                                            {{object}}
                                    	</div>
                                  </div>
                             	</rdfui-object>
                            </div>
                          </rdfui-objects>
                      </rdfui-property>												               
   				</div>
   			</rdfui-properties>
   			
<!--    				<h1>Fin test pour l'affichage via properties</h1> -->
	               			
	               			
	        			</rdfui-subject>
                    
                    
                   
            
             </div>   
        </rdfui-graph>
		
	</div>

      
   
    </div>
    
  <!-- JavaScript -->
  <!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="dist/angular-rdf-ui.js"></script>
  <script src="mockData/00.test.values.moduleInitialization.js"></script>
  <script src="mockData/graphValues.js"></script>
  <script src="js/index.js"></script>
</body>
</html>
