
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>RDFui demo : filter and dereference</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="dist/angular-rdf-ui.min.css">
  <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css">
  <link rel="stylesheet" href="bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">
  <link rel="stylesheet" href="css/demo.css">
  
</head>
<body ng-app="demoApp" ng-controller="MainCtrl">

  <div class="container">
    <h1 class="page-header">RDFui demo : filter and dereference</h1>
    <a href="index.html"><i class="glyphicon glyphicon-chevron-left"></i> Back to overview page</a>

    <div class="row" ng-controller="globalCtrl">
    
        <rdfui-graph graph-uri="http://test.com/graphDereference"
                     rdfui-metadata
                     >
            
            <!-- TODO :: rename this copy controller into "filterController" or something like that -->
            <div class="col-md-5" ng-controller="MainCtrl">
            
                <rdfui-subjects 
                    graph-data="graph"
                    filter="treeFilter" 
                    template-name="tree">
	             </rdfui-subjects>
	             
	             <br>
	             <pre>{{graph | json}}</pre>
            </div>
            
            <div class="col-md-5">
                
                    <rdfui-mainlang></rdfui-mainlang>
                    <rdfui-langdisplayed></rdfui-langdisplayed>
                    <div>
                    	<button class="btn btn-scent" ng-click="switchEdit()" >{{isEditText}}</button>
                    </div>
                    <!-- TODO : when rdfui-subject element defined, create a rdfui-subject-id element for displaying the id (with a link or not, an absolute or relative,...) -->
                    <p>{{currentNode['@id']}}</p>
                    <!-- TODO : idem for the type of the entity -->
                    <p>{{currentNode['@type']}}</p>
                    
                    <rdfui-subjects graph-data="graph" template-name="blank">
		<rdfui-subject entity="graphCtrl.currentNode">
			<rdfui-properties entity="entity" filtername="fullDisplay">
   				<div ng-repeat="prop in $properties">
   					<rdfui-property ng-model="entity" 
                                    subject="entity"
                                    property-name="{{prop.short}}"
                                    property-label="{{prop.human}}"
                                    langs="graphCtrl.lang.available"
                                    selectedLang="graphCtrl.lang.main"
                                    template-name="blank"
                                    >
                    	<rdfui-objects ng-model="objects"
                                       objects="objects"
                                       template-name="blank">
                        	<div>
                        		<b>{{propertyCtrl.propertyLabel}} : </b>
                       			<rdfui-object ng-repeat="obj in objects"
	                                            object="obj"
	                                            template-name="full"
	                                            maxdfdlevel="2"
	                                            >
                                
                                 	<div ng-if="objectsCtrl.hasType.resource">
                                 		<div ng-if="!graphCtrl.isEdit" class="bg-warning">
	                                 		<!-- TODO : put all the logic for defining the template name in the objectCtrl -->
	                                 		<!-- pour les uri non deréférencables -->
	                                 		<p> case 1 </p>
	                                 		<rdfui-resource-view uri="{{object}}" template-name="simpleUri"></rdfui-resource-view>
	                                 		<p> case 2 </p>
	                                 		<rdfui-resource-view uri="{{object}}" template-name="light"></rdfui-resource-view>
	                                 		<p> case 3 </p>
	                                 		<rdfui-resource-view uri="{{object}}" template-name="full"></rdfui-resource-view>
	                                 	</div>
	                                 	<div ng-if="graphCtrl.isEdit">
	                                 		//TODO : reprendre ce qui avait été fait dans le rdfuiProperty default template et directive
	                                 	</div>
                                 	</div>
                                  	<div ng-if="objectsCtrl.hasType.literal">
										<div ng-if="objectsCtrl.hasType.literalType.plain">
											<div ng-if="!graphCtrl.isEdit">
    										{{object['@value']}} <button class="btn btn-scent" >{{object['@language']}}</button>
    										</div>
    										<rdfui-literal-edit ng-if="graphCtrl.isEdit"
											     property="propertyCtrl.propertyName"
											     ng-model="object" 
											     langs="graphCtrl.lang.available" 
											></rdfui-literal-edit>
										</div>
										<div ng-if="objectsCtrl.hasType.literalType.typed">
                                            {{object}}
                                    	</div>
                                  </div>
                             	</rdfui-object>
                            </div>
                          </rdfui-objects>
                      </rdfui-property>												               
   				</div>
   			</rdfui-properties>
		</rdfui-subject>
                                       
    </rdfui-subjects>
            
             </div>   
        </rdfui-graph>
        
    </div>

  </div>

  <!-- JavaScript -->
  <!--[if IE 8]>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/3.4.0/es5-shim.min.js"></script>
  <![endif]-->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <script src="bower_components/angular-ui-select/dist/select.js"></script>
  <script src="bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
  <script src="dist/angular-rdf-ui.js"></script>
  <script src="mockData/00.test.values.moduleInitialization.js"></script>
  <script src="mockData/graphValues.js"></script>
  <script src="js/groups.js"></script>
</body>
</html>
